/* Pager */
#pager ul.pages {
display:block;
border:none;
text-transform:uppercase;
font-size:10px;     
padding:0;
*margin: 10px 5px 0 0 !important; /*IE7 */  
}

#pager ul.pages li {
list-style:none;
float: left;
border:1px solid #ccc;
text-decoration:none;
margin:0px 5px 0 0;  
padding:5px;
}

#pager ul.pages li:hover {
border:1px solid #003f7e;
}

#pager ul.pages li.pgEmpty {
border:1px solid white;
color:white;
}

#pager ul.pages li.pgCurrent {
border:1px solid #003f7e;
color:#000;
font-weight:700;
background-color:#eee;
}